
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div style="display:flex; justify-content:center; align-items:center; padding: 10rem 0px;">
        <h1 style="color: cornflowerblue;">Thank You Elvin</h1>
    </div>
</body>
</html>
